.hidden {
    display: none;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.dropdown {
    position: relative;
}
.dropdown:focus {
    outline: none
}

.dropdown:focus .dropdown-selection{
    border: 1px solid #b9bfc3;
}

.dropdown.is-open .dropdown-list {
    display: block;
    visibility: hidden;
}
.dropdown.is-open .dropdown-list.visible {
    visibility: visible;
}
.dropdown .dropdown-list{
    display: none;
}

.dropdown-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #d3d9de;
    border-top: 0;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 900;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
    margin-top: -1px;
}

.dropdown-list.display-above {
    margin-top: 1px;
}

.dropdown-selection {
    background: #fff;
    border: 1px solid #d3d9de;
    border-radius: 2px;
    padding: 2px 25px 0 8px;
    position: relative;
    line-height: 25px;
}

.display-selected-items .dropdown-list__item.disable {
    display: block;
    background: gray;
}

.dropdown-list__item.dropdown-list__item--no-result {
    cursor: default;
}

.dropdown-list__item {
    padding: 5px 5px 5px 8px;
    cursor: pointer;
    border-top: 1px solid #d3d9de;
}

.dropdown-list__item.active{
    background-color: #dce2e7;
}

.dropdown-selection__placeholder {
    cursor: pointer;
    display: none;
    margin-bottom: 2px;
}
.dropdown-selection--empty-state .dropdown-selection__placeholder {
    display: block;
}

.dropdown-selection__arrow {
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 0;
    height: 25px;
    width: 25px;
}

.dropdown-selection.dropdown-selection--selected-state .dropdown-selection__arrow {
    visibility: hidden;
}

.dropdown-selection__arrow:after {
    content: '\2304';
    display: inline-block;
    width: 100%;
    font-size: 23px;
    text-align: center;
    line-height: 0;
    top: -4px;
    position: relative;
    color: #a0a4a7;
}

.dropdown-selection__value {
    display: inline-block;
    position: relative;
    padding: 0 27px 0 4px;
    background-color: #115d9b;
    color: white;
    border-radius: 2px;
    margin: 0 3px 2px 0;
    float: left;
}
.dropdown-selection__value .selection__delete {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
}

.dropdown-selection__value .selection__delete:after {
    content: '\1f7aa';
    display: inline-block;
}

.dropdown-selection__values {
}

.dropdown-selection__add-new {
    background: #dae2ea;
    float: left;
    padding: 0 27px 0 4px;
    cursor: pointer;
    position: relative;
    margin-bottom: 2px;
}

.dropdown-selection__add-new:after {
    content: '\1f7a4';
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
    text-align: center;
}

.dropdown.is-open .dropdown-selection__add-new,
.dropdown-selection.search-active .dropdown-selection__add-new,
.dropdown-selection--empty-state .dropdown-selection__add-new,
.dropdown-selection--selected-state .dropdown-selection__add-new{
    display: none;
}

.dropdown-selection__input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    display: none;
    height: 25px;
    padding: 0;
    background-color: transparent;
    margin-bottom: 2px;
}

.dropdown.is-open .dropdown-selection__input,
.dropdown-selection.search-active .dropdown-selection__input,
.dropdown-selection--empty-state .dropdown-selection__input{
    display: inline-block;
}

.dropdown-list__item-avatar {
    position: relative;
    width: 34px;
    height: 34px;
    margin-right: 10px;
    overflow: hidden;
    line-height: 34px;
    vertical-align: middle;
    display: inline-block;
}

.dropdown-list__item-avatar img {
    width: 100%;
    vertical-align: middle;
}