body {
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

.drop-down {
    width: 300px;
    margin-bottom: 15px;
}

.controls {
    margin-bottom: 10px;
    border: 1px solid #a9a6a6;
    width: 300px;
}